<div class="container">
    <div class="row align-items-center mb-4">
        <div class="col-auto">
            <button class="btn btn-outline-primary" (click)="voltarParaHome()">
                <i class="bi bi-arrow-left"></i> Voltar
            </button>
        </div>
        <div class="col text-center">
            <h2 class="fw-semibold mb-0">Buscar repositórios relevantes</h2>
        </div>
        <div class="col-auto"></div>
    </div>
    <div class="input-group mb-3">

        <input type="text" class="form-control" placeholder="Digite nome de um repositório"
            aria-label="Digite nome de um repositório" [(ngModel)]="nomeRepositorio" (keyup.enter)="buscar()" />
        <button class="btn btn-primary" (click)="buscar()" type="button" id="botao-buscar">Buscar</button>
        <button class="btn btn-primary" (click)="toogleOrdenacao()" type="button" id="button-ordernacao"
            aria-label="Alterar ordenação">
            <mat-icon fontIcon="{{asc ? 'arrow_downward' : 'arrow_upward'}}"></mat-icon>
        </button>

    </div>

    <div *ngIf="buscando">

        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
        <p>Buscando repositórios...</p>
    </div>
    <div *ngIf="!buscando">
        <div *ngIf="repositorios.length > 0 && !buscando">
            <div *ngFor="let repo of repositorios">
                <app-repositorio-item [repositorio]="repo"></app-repositorio-item>
            </div>
        </div>
        <p *ngIf="repositorios.length > 0">Total de repositórios encontrados: {{ repositorios.length }}</p>
    </div>

</div>