################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/RepositoriosGitHub/.vs/GitHubRepositorios/v17/.suo
