<div class="container my-5">
    <div class="row align-items-center mb-4">
        <div class="col-auto">
            <button class="btn btn-outline-primary" (click)="voltarParaHome()">
                <i class="bi bi-arrow-left"></i> Voltar
            </button>
        </div>
        <div class="col text-center">
            <h2 class="fw-semibold mb-0">Repositórios favoritos</h2>
        </div>
        <div class="col-auto"></div>
    </div>
    <div *ngIf="favoritos.length > 0">
        <div *ngFor="let repo of favoritos">
            <app-repositorio-item [repositorio]="repo"
                (onRemovidoFavoritos)="onRemovidoFavoritos(repo)"></app-repositorio-item>
        </div>
    </div>
    <div *ngIf="favoritos.length === 0">
        <p>Nenhum repositório favorito encontrado.</p>
    </div>
</div>